.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links a {
  margin: 0 15px;
  font-size: 18px;
}
